{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'img/.png' %}">
   
   
    <title>Login: Arthub</title>
</head>
<body>


<div class = "columns is-mobile ">
<div class = "column is-half is-offset-one-quarter">

    <div class="card">
        <div class="card-content">
          
    

    <form method="post" enctype = "multipart/form-data" action="" role="form" >
    {% csrf_token %}
        <h3 class = "title is-3">Edit Profile</h3>
        
    <div class="field">
          <label class="label is-medium">Choose your picture</label>
          <div class = "file is-boxed">
          
          {% render_field form.picture class="button is-medium" style="color: green" %}
        </div>
      </div>

      <div class="field">
        <label class="label is-medium">First name</label>
        <div class = "control">
        {{ form.first_name }}
      </div>
    </div>

    <div class="field">
        <label class="label is-medium">Last name</label>
        <div class = "control">
        {{ form.last_name }}
      </div>
    </div>


    <div class="field">
        <label class="label is-medium">Location </label>
        <div class = "control">
        {{ form.location }}
      </div>
    </div>

    <div class="field">
        <label class="label is-medium">url</label>
        <div class = "control">
        {{ form.url }}
      </div>
    </div>

    <div class="field">
        <label class="label is-medium">Bio</label>
        <div class = "control">
        {{ form.profile_info }}
      </div>
    </div>


      <div class="row">
        <div class="col s12">
          <span style="color: red; font-weight: bold;">{{ form.errors }}</span>
        </div>
      </div>

      <div class="field">
        <p class="control">
          <button type="submit" value ="login" class="button is-success">Update</button>
        </p>
      </div>


</form>
  </div>
</div>

</div>
</div>
  
</body>
</html>