{% extends 'base.html' %}

{% load static %}

{% block content %}

{% load widget_tweaks %}


<div class="columns is-mobile has-text-centered">
    <div class="column is-half is-offset-one-quarter">
  
      <div class="card">
      <div class="card-content">
  
      <form method="post" action="" enctype="multipart/form-data" role="form">
      {% csrf_token %}
      <h3 class="title is-1" style="margin-bottom:10px ;">
        <i class="material-icons" style="font-size: larger; padding-top: 10px;">
          add_circle
        </i>
        Add Post
      </h3>
      <hr>
  
              <div class="field">
                <p class="control has-icons-left">
                <label class="label is-medium">Upload your Artwork</label>
                <br>
                  {% render_field form.picture  class="button is-medium" style="color: green" %}
                  
                  <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
            </div>
  
              <div class="field">
                <p class="control has-icons-left">
                <label class="label is-medium">Caption</label>
                  {% render_field form.caption class="textarea"  placeholder="Caption ..." %}
                  <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
            </div>
  
              <div class="field">
                <p class="control has-icons-left">
                <label class="label is-medium">Tags (add tags, separated by commas)</label>
                  {% render_field form.tags class="input is-medium" rows="2" placeholder="hash is not required" %}
                  <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
            </div>
  
        <div class="field">
        <p class="control">
          <button type="submit" name="action" class="button is-success ">
            Create Post
          </button>
        </p>
      </div>
  
  
        </div>
  </div>
  




{% endblock %}